ENV="production" # development

BACKEND_IMAGE=ghcr.io/selfdevcomp/backend:74a6f64d778a7842d18bea0fb135bacf847696ba
FRONTEND_IMAGE=ghcr.io/selfdevcomp/frontend:f75ae4e0067b8c1bde09e1ad6c18051039b7ee41

# backend
HOST="localhost"
ADDR=":8080"
READ_TIMEOUT=10
WRITE_TIMEOUT=10
IDLE_TIMEOUT=60
MIDDLEWARE=https://self-dev.tech


# frontend
AUTH_HOST=https://auth.self-dev.tech
API_HOST=https://api.self-dev.tech
REDIRECT_URI=https://api.self-dev.tech/auth/callback
CASDOOR_CLIENT_ID=7987350089e3975b24ad

# database
POSTGRES_DB=self-dev
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_URL=postgres://admin:admin@db:5432/self-dev
REDIS_URL=redis://:admin@redis:6379/0

# goose environment
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:admin@db:5432/self-dev
GOOSE_MIGRATION_DIR=./backend/migrations
