ENV="production" # development

BACKEND_IMAGE=ghcr.io/selfdevcomp/backend:2e23e7810dd97e81a414ef205a3c01976e8ce1be
FRONTEND_IMAGE=

# backend
HOST="localhost"
ADDR=":8080"
READ_TIMEOUT=10
WRITE_TIMEOUT=10
IDLE_TIMEOUT=60
MIDDLEWARE="http://self-dev.tech"

# database
POSTGRES_DB=self-dev
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_URL=postgres://admin:admin@db:5432/self-dev
REDIS_URL=redis://:admin@redis:6379/0

# goose environment
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:admin@db:5432/self-dev
GOOSE_MIGRATION_DIR=./backend/migrations

# casdoor
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
REDIRECT_URI=http://self-dev.tech


